<section>
    <div id="headlines">

        <!-- A for of loop that will create a number of divs containing links filled with headlines of the day -->
        <% for(let headline of headlines){ %>
            <div class="headlineTitle">  
                <a href="<%= headline.permalink %>" target="blank" class="headlineLink"><%= headline.title %></a>
            </div>
        <% }%>

        <!-- Span with css that will animate how much time left before headline changes/slides -->
        <span class="timer"></span>
    </div>
</section>