@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(11, 0, 80);
    color: rgb(248, 247, 255);
    position: relative;
    overflow: auto;
}

.headlineTitle {
    display: none;
    height: 55px;
    width: 320px;
    padding: 0.5rem;
    animation: fadeInFromRightThenExitLeft 10s;
    margin: 0 auto;
    justify-content: center;
    font-weight: bold;
}

.headlineLink:link {
    color: #000000;
}

.headlineLink:visited {
    color: #000000;
}

.headlineLink:hover, #headlines:hover, .headlineTitle:hover {
    color: #000dff;
}

@keyframes fadeInFromRightThenExitLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    25% {
        transform: translateX(0);
        opacity: 1;
    }
    80% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

#headlines {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(255,255,255);
    height: 55px;
    width: 100%;
    z-index: 1;
}

.timer {
    height: 2px;
    width: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(179, 0, 0);
    animation: timerBar 10s cubic-bezier(0.4, 0, 1, 1) infinite
}

@keyframes timerBar {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

#matches {
    margin-top: 4.5rem;
    z-index: 0;
}

.matchup {
    width: 320px;
    height: 180px;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-repeat: no-repeat;
    animation: moveUpAndSettle 1.5s 1;
    position: relative;
}

@keyframes moveUpAndSettle {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10%);
    }
    75% {
        transform: translateY(1%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.awayScore, .awayTeam {
    align-self: flex-end;    
}

.status {
    align-self: center;
}

.matchDetails{
    margin: 0.5rem;
    font-size: 1.5rem;
}

.record {
    text-align: center;
}

.footer { 
    margin-top: auto;
    text-align: center;
    background-color: rgba(75, 75, 75, 0.807);
    color:#FEF2BF;
}

a {
    /* margin: 5px; */
    padding: 0 5px;
}

a:link {
    background-color: none;
    color: #FEF2BF;
    text-decoration: none;
}

a:visited {
    color: #FEF2BF;
    text-decoration: none;
}

a:hover {
    background-color: #065ab4c6;
    color: #FEF2BF;
    text-decoration: none;
    border-radius: 5px;
}

a:active {
    background-color: #065ab4c6;
    text-decoration: none;
}